.employee-info{
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 24px;
}

.general-info-left{
    width: calc(50% - 16px);
}

.general-info-right{
    width: 50%;
}

.contact-info{
    width: 100%;
}

